In [3]:
#  tuple : immutable 
myTuple= (10,20,30)
print(type(myTuple))

<class 'tuple'>

In [6]:
myTuple= 10,20,"hey"
print(type(myTuple))

<class 'tuple'>

In [13]:
myTuple[-2:-1]

(20,)

In [14]:
#  dictionary : data type mutuable in nature
#  no index position 
#  key : value   {}
#  key: ( identifier) unique 
#  value( data) : unique or duplicate

In [17]:
mydictionary={"rollnumber":100 , 1:"tushar", 2:"aman"}
print(type(mydictionary) )

<class 'dict'>

In [22]:
#  update
mydictionary[1] = "aditya"
mydictionary

{'rollnumber': 100, 1: 'aditya', 2: 'aman'}

In [25]:
#insert 
mydictionary["email"]="aman@gmail.com"

In [26]:
mydictionary

{'rollnumber': 100, 1: 'aditya', 2: 'aman', 'email': 'aman@gmail.com'}

In [28]:
mydictionary

{'rollnumber': 100, 1: 'aditya', 2: 'aman', 'email': 'aman@gmail.com'}

In [42]:
# key will be unique , key immutable data ki honi chaiye

# unorderd ,  python 3 ordered ( jis way mai store karoge)

# collections => ordered dictionary
mydictionary={ "rollnumber":100 , 1:"tushar", 
              2:"aman",1:"ujjwal"}

mydictionary

{'rollnumber': 100, 1: 'ujjwal', 2: 'aman'}

In [34]:
x=10
print(x, id(x))
y=10
print(y, id(y))

10 2432229310992
10 2432229310992

In [43]:
x=258
print(id(x))
x=188
print(id(x))

2432316582704
2432229316688

In [46]:
mydictionary

{'rollnumber': 100, 1: 'ujjwal', 2: 'aman'}

In [49]:
mydictionary.get(10001)

In [53]:
mydictionary

{'rollnumber': 100, 1: 'ujjwal', 2: 'aman'}

In [55]:
mydictionary.popitem()

(1, 'ujjwal')

In [62]:
# tuple data
x=(2, 'aman',100)

a,b,c=x
print(a,b,c)
# print(type(x))

2 aman 100

In [64]:
mydictionary={ "rollnumber":100 , 1:"tushar", 
              2:"aman"}

In [66]:
mydictionary

{'rollnumber': 100, 1: 'tushar', 2: 'aman'}

In [69]:
mydictionary.keys()

dict_keys(['rollnumber', 1, 2])

In [71]:
mydictionary.items()

dict_items([('rollnumber', 100), (1, 'tushar'), (2, 'aman')])

In [75]:
mylist=[('rollnumber', 100), (1, 'tushar'), (2, 'aman')]

for x in mylist:
    key, data=x
    print(key,data)

rollnumber 100
1 tushar
2 aman

In [78]:
for x in mydictionary.items():
    key,data=x
    print(key, data)

rollnumber 100
1 tushar
2 aman

In [80]:
for key,data in mydictionary.items():
    print(key, data)

rollnumber 100
1 tushar
2 aman

In [83]:
lis1= [(1,"aman"),("japan","herosima")]
dict(lis1)

{1: 'aman', 'japan': 'herosima'}

In [86]:
# set => mutuable datatype
# set are used for multiple data together
# saare element hote hai unique

myset= set( {} )

# set() directly

In [92]:
myset={10,20,30,40,10,10,70,"hey",99}
print(myset)

{99, 20, 70, 'hey', 40, 10, 30}

In [93]:
myset.add(88)
myset

{10, 20, 30, 40, 70, 88, 99, 'hey'}

In [96]:
myset.remove(10)
myset

KeyError: 10

    myset

In [100]:
myset.remove(20)
myset

KeyError: 20

In [101]:
myset

{30, 40, 70, 88, 99, 'hey'}

In [104]:
myset.discard(30)
myset

{40, 70, 88, 99, 'hey'}

In [106]:
mysetA={1,2,3,4,5,6}
mysetB={5,6,7,8,9,10}

mysetA.union(mysetB)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [111]:
mysetA={1,2,3,4,5,6}
mysetB={5,6,7,8,9,10}

mysetA.intersection_update(mysetB)

In [113]:
mysetA.

{5, 6}

In [125]:
mylist=[10,20,30,99,77,55,8]
sqlist=[]
for x in mylist:
    sqlist.append(x**2)

In [127]:
# list comphrehension
newlist = [x**2 for x in mylist if x%2==0]
print(newlist)

[100, 400, 900, 64]

In [128]:
seta={10,20,30}

{x+5 for x in seta}

{15, 25, 35}