In [1]:
print("hello world",end=" ")
print("regex")

hello world regex

In [2]:
print("hello world",end="$$")
print("regex")

hello world$$regex

In [3]:
print("yash","aman","tushar",sep="--")

yash--aman--tushar

In [4]:
age=100
print("age is",age)

age is 100

In [2]:
age=100
print(type(age))

<class 'int'>

In [4]:
fname="regex"
print(type(fname))

<class 'str'>

In [7]:
#  document ( to understand )
#multi line string
address="""street 
name city name 
country"""

print(address)

street
name city name
country

In [8]:
address='''street 
name city name 
country'''

print(address)

street
name city name
country

In [9]:
type('''
this is a 
multi line comment
''')
# print("hi")

str

In [10]:
#  string formatting

age=60
fname="tushar"
company="regex"

print("age is",age,"First name is",fname)

age is 60 First name is tushar

In [11]:
age=60
fname="tushar"
company="regex"

print(f"{age} is {age} First name is {fname}")

60 is 60 First name is tushar

In [12]:
# call by object reference

fname="tushar"
print(fname, id(fname)  )

company="tushar"
print(company, id(company))

fname="goyal"
print(fname, id(fname))

tushar 2589722181168
tushar 2589722181168
goyal 2589722300208

In [13]:
fname="tushar"
print(fname, id(fname)  )

company="tushar"
print(company, id(company))

fname="goyal"
print(fname)

tushar 2589722181168
tushar 2589722181168
goyal

In [14]:
print(company, id(company))

tushar 2589722181168

In [15]:
x=10
print(id(x))

y=10
print(id(y))

y=20
print("new y",id(y))

print(id(x))

140713316881480
140713316881480
new y 140713316881800
140713316881480

In [16]:
# slicing and indexing
# slice : portion extract original mai se

state="RAJASTHAN"
state[-3]

'H'

In [17]:
#  slicing     var[start : stop : [step=1]   ]
#  stop is exclusive

In [18]:
state="RAJASTHAN"
state[5:8]

'THA'

In [19]:
state="RAJASTHAN"
state[0:4]

'RAJA'

In [20]:
state="RAJASTHAN"
state[0:4:1]

'RAJA'

In [21]:
state="RAJASTHAN"
state[2:4:-2]

''

In [22]:
state="RAJASTHAN"
state[0:6:2]

'RJS'

In [23]:
state="RAJASTHAN"
state[-1:-4:-1]

'NAH'

In [24]:
state="RAJASTHAN"
state[-5:-2:-1]

''

In [25]:
state="RAJASTHAN"
state[2:]

'JASTHAN'

In [26]:
state="RAJASTHAN"
state[:4]

'RAJA'

In [27]:
state="RAJASTHAN"
state[-3::-1]

'HTSAJAR'

In [28]:
state="RAJASTHAN"
state[-1:2:-1]

'NAHTSA'