In [1]:
#list

In [16]:
lis=[10,20,21,"sahil","hemant","hey"]
mylist=[]
for i in lis:
    if type(i) == str:
        print(i,i[1:])
        mylist.append(i[1:])
print(mylist)

sahil ahil
hemant emant
hey ey
['ahil', 'emant', 'ey']

In [18]:
mytuple=10
type(mytuple)

int

In [21]:
mytuple=10,
type(mytuple)

tuple

In [24]:
mytuple=(10,20,30,'hey')
print(type(mytuple))
print(mytuple)

<class 'tuple'>
(10, 20, 30, 'hey')

In [26]:
mytuple=(10,20,30,'hey')
mytuple+(100,1000)

(10, 20, 30, 'hey', 100, 1000)

In [35]:
#create a tuple with multiple element and if element is int and is a multiple of 2 or 3 so we insert that element in to list
#else in other list
mytuple=(10,20,'sahil',31,43,33,30)
list1=[]
list2=[]
for i in tuple:
    if type(i)==int and (i%2==0 and i%3==0):
        list1.append(i)
        #print(i)
    else:
        list2.append(i)
print(list1)
print(list2)

[30]
[10, 20, 'sahil', 31, 43, 33]

# TASK

In [ ]:
'''
1.create a program to identify all the unique words or element from list and insert all the duplicate element in other list.
2.create a program to get string element which have more than 2 vowels and append it into the vowellist.
3.now write a program to remove element from the list which are not float or have any vowel in thier words using while loop.
'''

In [17]:
#1.create a program to identify all the unique words or element from list and insert all the duplicate element in other list
lis =[20,30,34,30,'sahil','sarthak',2,'sahil',20]
duplicate =[]
for i in lis:
    #print(i)
    if i not in lis[i+1:i]:
        print(i)

20
30
34
30
2
20