In [ ]:
o=input("Menu:\n1.Pizza\n2.burger\n3.cold cofee\nenter a choice =")
if(o=1):
    print("price of pizza = ")

if(o=2):
    print("price of pizza = ")

if(o=3):
    print("price of cold cofee = ")
else:
    print("invalid item choice")

In [10]:
lis=["Pizza":150,"burger":50,"cold":30]

SyntaxError: invalid syntax (4180034807.py, line 1)

In [11]:
a=[1,"sam","rahul"]
a[1][-1]

'm'

In [21]:
a=(1,"sam","rahul",98.45)
a

(1, 'sam', 'rahul', 98.45)

In [22]:
lis=list(a)
lis[1]="shubham"
lis

[1, 'shubham', 'rahul', 98.45]

In [24]:
a=tuple(lis)
a

(1, 'shubham', 'rahul', 98.45)

In [25]:
size=int(input("enter size ="))
li=[]
for i in range(size):
    ele=input("eter a element = ")
    li.append(ele)
print(li)
a=tuple(li)
print(a)

enter size =5
eter a element2
eter a element5
eter a element8
eter a element3
eter a element6
['2', '5', '8', '3', '6']
('2', '5', '8', '3', '6')

In [28]:
size1=int(input("enter size of 1st ="))
li=[]
bi=[]
for i in range(size1):
    ele=input("eter a element = ")
    li.append(ele)
    a=tuple(li)
print(a)
    
size2=int(input("\nenter size of 2nd="))
for i in range(size2):
    ele=input("eter a element = ")
    bi.append(ele)
    b=tuple(bi)
print(b)
c=a+b
print("addition of 1st and 2nd =",c)

enter size of 1st =3
eter a element = 1
eter a element = 2
eter a element = 3
('1', '2', '3')

enter size of 2nd=3
eter a element = 1
eter a element = 2
eter a element = 3
('1', '2', '3')
('1', '2', '3', '1', '2', '3')

In [43]:
a=tuple("sam")
a

('s', 'a', 'm')

In [44]:
b=3*a
b

('s', 'a', 'm', 's', 'a', 'm', 's', 'a', 'm')

In [50]:
len(a)

3

In [51]:
min(a)

'a'

In [52]:
max(a)

's'

In [62]:
a=(10,20,30,50,40)
a
a.index(40)

4

In [63]:
a.count(20)

1

In [100]:
a={'id':1,'name':'sahil','dep':'it'}
a['id']

1

In [101]:
a['name']

'sahil'

In [102]:
a['dep']

'it'

In [103]:
for i in a:
    print(a[i])

1
sahil
it

In [104]:
for i in a.keys():
    print(i)

id
name
dep

In [105]:
for i in a.values():
    print(i)

1
sahil
it

In [84]:
for x,y in a.items():
    print(x,y)

id 1
name sam
dep it

In [88]:
a['salary']=500
a

{'id': 1, 'name': 'sam', 'dep': 'it', 'salary': 500}

In [90]:
len(a)

4

In [91]:
a.popitem()

('salary', 500)

In [92]:
a.pop('name')

'sam'

In [106]:
del(a)

# TASK

In [ ]:
'''
1.write a function that take two tuples as an imput and  returns a new input alternative order
2.create a list of tuples where each tuple represents a student name and their scores in 3 subjects
write a fun that take list as input and returns a new list containing only the input who have average score greater then 80
3.you have a list of words write a fun that take list of words as a input and returns a dictionary where the keys are the words and the values are the len of words
4.you are given a list of transection where each transection is represented as a dictionary with sender, reciver and amount keys
write a fun that take the list of tran as a input and returns the total amount sent by each user
5.create a dictionary represting a library catalog where the keys are the book titles and values are [nhi likha] dic containing auther genre and year
write a fun that take a library catalog as a input and returns a book of list publish in a given year
6.write a fun that takes the dictionary as a inputs where the keys are contry name and values are list of city the fun should returns where the keys are contry name and value are cities in each contry
7.write a fun that takes a list of tuple as input where each tuple contains students name and their score in 3 subjects the fun should return a new list of tuble where each tuple contains the student name and thier average scores
8.you are given a list of items each represented as a tuple containing the item name and its price now write a fun that takes this list as input and returns the total coost of all the items
9.write a fun that takes list of inteager as input and returns a tuple containing the min and max values from the list
10.write a fun that takes a list of string as input the fun should return a dictionary where the keys are the unique strings from the input list and values are the number of ocurances of each string in the list
'''

In [114]:
#1.write a function that take two tuples as an imput and  returns a new input alternative order

size1=int(input("enter size of 1st ="))
li=[]
bi=[]
for i in range(size1):
    ele=input("enter a element = ")
    li.append(ele)
    a=tuple(li)
print(a)
    
size2=int(input("\nenter size of 2nd="))
for i in range(size2):
    ele=input("enter a element = ")
    bi.append(ele)
    b=tuple(bi)
print(b)

c=a+b
c1=c[::-1]
print(c)
print(c1)

enter size of 1st =3
eter a element = 1
eter a element = 2
eter a element = 3
('1', '2', '3')

enter size of 2nd=3
eter a element = 4
eter a element = 5
eter a element = 6
('4', '5', '6')
('1', '2', '3', '4', '5', '6')
('6', '5', '4', '3', '2', '1')

In [30]:
#2.create a list of tuples where each tuple represents a student name and their scores in 3 subjects
names=("sahil =","sarthak  =","hemant =","om prakash =")
scores=('c=80,c++=75,python=85','c=69,c++=87,pthon=91','c=80,c++=61,pyhon=88','c=80,c++=66,pyhon=81')
data=list(zip(names,scores))
data

[('sahil =', 'c=80,c++=75,python=85'),
 ('sarthak  =', 'c=69,c++=87,pthon=91'),
 ('hemant =', 'c=80,c++=61,pyhon=88'),
 ('om prakash =', 'c=80,c++=66,pyhon=81')]

In [106]:
#write a fun that take list as input and returns a new list containing only the input who have average score greater then 80
names=("sahil =","sarthak  =","hemant =","om prakash =")
scores=('c=80,c++=75,python=85','c=69,c++=87,pthon=91','c=80,c++=61,pyhon=88','c=80,c++=66,pyhon=81')
data=list(zip(names,scores))
print("total data =",data)
def average_score(score_string):
    student_score = [int(score.split('=')[1]) for score in score_string.split(',')]
    return sum(student_score) / len(student_score)

def filter_score(data):
    new_data = []
    for name, score_string in data:
        average = average_score(score_string)
        if average > 80:
            new_data.append((name, score_string))
    return new_data
print("\nAverage Scores:")
for name, score_string in data:
    average = average_score(score_string)
    print(name,"=", average)

result = filter_score(data)
print("\nstudent whose average is above 80 =", result)

total data = [('sahil =', 'c=80,c++=75,python=85'), ('sarthak  =', 'c=69,c++=87,pthon=91'), ('hemant =', 'c=80,c++=61,pyhon=88'), ('om prakash =', 'c=80,c++=66,pyhon=81')]

Average Scores:
sahil = = 80.0
sarthak  = = 82.33333333333333
hemant = = 76.33333333333333
om prakash = = 75.66666666666667

student whose average is above 80 = [('sarthak  =', 'c=69,c++=87,pthon=91')]

In [22]:
n=int(input("Enter the number of names = "))
s=int(input("Enter the number of subject = "))
score=[]
for i in range(n):
    name = input(f"\nEnter {i + 1}st name = ")
    #names.append(name)
    for j in range(s):
        score.append(input(f"Enter {j+1}st scores for student {i + 1} = "))
        
name
score

Enter the number of names = 2
Enter the number of subject = 2

Enter 1st name = s
Enter 1st scores for student 1 = 2
Enter 2st scores for student 1 = 3

Enter 2st name = s
Enter 1st scores for student 2 = 2
Enter 2st scores for student 2 = 3

['2', '3', '2', '3']

In [107]:
#3.you have a list of words write a fun that take list of words as a input and returns a dictionary where the keys are the 
#words and the values are the len of words
def dictionary(words):
    d={}
    for word in words:
        d[word]=len(word)
    return d
words=input("enter a list of words = ").split()
print("\nThe input list = ",words)
result=dictionary(words)
print("\nThe output dictionary = ",result)

enter a list of words = apple banana sev kiwi orange

The input list =  ['apple', 'banana', 'sev', 'kiwi', 'orange']

The output dictionary =  {'apple': 5, 'banana': 6, 'sev': 3, 'kiwi': 4, 'orange': 6}

In [10]:
#4.you are given a list of transection where each transection is represented as a dictionary with sender, reciver and amount
#keys write a fun that take the list of tran as a input and returns the total amount sent by each user
transactions = [
    {'sender': 'sahil', 'receiver': 'sarthak', 'amount': 100},
    {'sender': 'sarthak', 'receiver': 'hemant', 'amount': 50},
    {'sender': 'hemant', 'receiver': 'om prakash', 'amount': 75},
    {'sender': 'om prakash', 'receiver': 'sahil', 'amount': 25},
]
def calculate_amount(transactions):
    total={}
    for transaction in transactions:
        sender = transaction['sender']
        receiver = transaction['receiver']
        amount = transaction['amount']
        
        total[sender]=total.get(sender,0)-amount
        total[receiver]=total.get(receiver,0)+amount
    return total
print(calculate_amount(transactions))

{'sahil': -75, 'sarthak': 50, 'hemant': -25, 'om prakash': 50}

In [109]:
#5.create a dictionary represting a library catalog where the keys are the book titles and values are [nhi likha] dictionary
#containing auther genre and year write a fun that take a library catalog as a input and returns a book of list publish in a
#given year

In [110]:
#6.write a fun that takes the dictionary as a inputs where the keys are contry name and values are list of city the fun 
#should returns where the keys are contry name and value are cities in each contry
place = {
    'USA': ['New York', 'Los Angeles', 'Chicago'],
    'Canada': ['Toronto', 'Vancouver'],
    'Australia': ['Sydney', 'Melbourne', 'Brisbane'],
    'India': ['Mumbai', 'Delhi', 'Bangalore']
}
def cities_country(place):
    city={}
    for contry,cities in place.items():

In [12]:
def cities_by_country(input_dict):
    cities_by_country_dict = {}

    # Iterate through the input dictionary
    for country, cities in input_dict.items():
        # Check if the country is already in the result dictionary
        if country in cities_by_country_dict:
            # If it is, extend the list of cities for that country
            cities_by_country_dict[country].extend(cities)
        else:
            # If it's not, add the country to the result dictionary with the list of cities
            cities_by_country_dict[country] = cities.copy()

    return cities_by_country_dict

# Example usage:
input_dict = {
    'USA': ['New York', 'Los Angeles', 'Chicago'],
    'Canada': ['Toronto', 'Vancouver'],
    'Australia': ['Sydney', 'Melbourne', 'Brisbane'],
    'India': ['Mumbai', 'Delhi', 'Bangalore']
}

result = cities_by_country(input_dict)
print(result)

{'USA': ['New York', 'Los Angeles', 'Chicago'], 'Canada': ['Toronto', 'Vancouver'], 'Australia': ['Sydney', 'Melbourne', 'Brisbane'], 'India': ['Mumbai', 'Delhi', 'Bangalore']}
{'USA': ['New York', 'Los Angeles', 'Chicago'], 'Canada': ['Toronto', 'Vancouver'], 'Australia': ['Sydney', 'Melbourne', 'Brisbane'], 'India': ['Mumbai', 'Delhi', 'Bangalore']}

In [111]:
#7.write a fun that takes a list of tuple as input where each tuple contains students name and their score in 3 subjects 
#the fun should return a new list of tuble where each tuple contains the student name and thier average scores

In [112]:
#8.you are given a list of items each represented as a tuple containing the item name and its price now write a fun that 
#takes this list as input and returns the total coost of all the items

In [113]:
#9.write a fun that takes list of inteager as input and returns a tuple containing the min and max values from the list

In [ ]:
#10.write a fun that takes a list of string as input the fun should return a dictionary where the keys are the unique 
#strings from the input list and values are the number of ocurances of each string in the list