In [1]:
#dictionary
# key - identifier -unique value - data
#{key : value}
#key = immutable

In [33]:
mydic={1:"yash","sid":110,"friend":"mandeep"}
print(mydic)
print(type(mydic))

{1: 'yash', 'sid': 110, 'friend': 'mandeep'}
<class 'dict'>

In [34]:
mydic["friend"]="hemant"
print(mydic)

{1: 'yash', 'sid': 110, 'friend': 'hemant'}

In [35]:
mydic["email"]="sahil@gmail.com"
mydic

{1: 'yash', 'sid': 110, 'friend': 'hemant', 'email': 'sahil@gmail.com'}

In [36]:
mydic.get("email","no data")

'sahil@gmail.com'

In [37]:
mydic.get("email2","no data")

'no data'

In [38]:
mydic.keys()

dict_keys([1, 'sid', 'friend', 'email'])

In [39]:
mydic.pop(1)

'yash'

In [40]:
mydic

{'sid': 110, 'friend': 'hemant', 'email': 'sahil@gmail.com'}

In [41]:
mydic.popitem()

('email', 'sahil@gmail.com')

In [42]:
mydic

{'sid': 110, 'friend': 'hemant'}

# Assignment

In [1]:
#update,setdefault,enamurate

In [2]:
mydictionary={1:"sahil",2:"aman",3:"sarthak",2:"hemant","hi":100}
mydictionary

{1: 'sahil', 2: 'hemant', 3: 'sarthak', 'hi': 100}

In [56]:
for data in mydictionary:
    print(data)

1
2
3
hi

In [70]:
for i in mydictionary.items():
    key,data=i
    print(key,data)

1 sahil
2 hemant
3 sarthak
hi 100

In [71]:
for key,data in mydictionary.items():
    print(key,data)

1 sahil
2 hemant
3 sarthak
hi 100

In [57]:
for data in mydictionary.values():
    print(data)

sahil
hemant
sarthak
100

In [58]:
for data in mydictionary.values():
    print(type(data))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'int'>

In [59]:
mytuple=(11000,20008)
print(type(mytuple))

<class 'tuple'>

In [61]:
x,y=mytuple
print(x,y)

11000 20008

In [62]:
mydictionary

{1: 'sahil', 2: 'hemant', 3: 'sarthak', 'hi': 100}

In [63]:
mydictionary.items()

dict_items([(1, 'sahil'), (2, 'hemant'), (3, 'sarthak'), ('hi', 100)])

In [64]:
mydictionary.values()

dict_values(['sahil', 'hemant', 'sarthak', 100])

In [65]:
mydictionary.values()

dict_values(['sahil', 'hemant', 'sarthak', 100])

In [66]:
mylist=[(1, 'sahil'), (2, 'hemant'), (3, 'sarthak'), ('hi', 100)]

In [67]:
for i in mylist:
    print(i)

(1, 'sahil')
(2, 'hemant')
(3, 'sarthak')
('hi', 100)

In [68]:
for i in mylist:
    key,data=i
    print(key,data)

1 sahil
2 hemant
3 sarthak
hi 100

In [72]:
for key,data in mylist:
    print(key,data)

1 sahil
2 hemant
3 sarthak
hi 100

# Assignment

In [73]:
#Q1 take a input from a user and find out all consonant with the count in form of dictionary
#prime,fibonacci,armstrong,palindrome

In [ ]:
#Q1 take a input from a user and find out all consonant with the count in form of dictionary

In [74]:
#set: mutable all element without order and index

In [77]:
myset=set({})
print(type(myset))

<class 'set'>

In [83]:
myset={10,20,30,300,20,30}
print(type(myset))
print(myset)

<class 'set'>
{10, 20, 30, 300}

In [84]:
mytuple=(10,20,30,10)
mytuple
#differ in tuple and set

(10, 20, 30, 10)

In [97]:
myset={10,20,30,300,20,30,(10,20)}
myset

{(10, 20), 10, 20, 30, 300}

In [98]:
myset.add(1000)
myset

{(10, 20), 10, 1000, 20, 30, 300}

In [99]:
myset.clear()
myset

set()

In [100]:
myset={10,20,30,300,20,30,(10,20)}
myset.remove(10)
myset
#will error if no ele

{(10, 20), 20, 30, 300}

In [101]:
myset.discard(10)
myset
#no error when no ele

{(10, 20), 20, 30, 300}

# Assignment

In [102]:
#deep copy and shallow copy

#TRY in set = difference , isdisjoint,issuperset

In [104]:
mysetA={1,2,3,4,5}
mysetB={4,5,6,7,8}
mysetA.union(mysetB)

{1, 2, 3, 4, 5, 6, 7, 8}

In [105]:
mysetA.intersection(mysetB)

{4, 5}

In [106]:
mysetA

{1, 2, 3, 4, 5}

In [108]:
mysetA.intersection_update(mysetB)
mysetA

{4, 5}

# Assignment

In [ ]:
# take a input from a user and find out all the unique word(sequence no matter)

In [113]:
mysat=list(input("enter element = "))
for i in mysat:
    print(i)
mysat

enter element = 123
1
2
3

['1', '2', '3']

In [120]:
for i in range(1,9):
    print(i)
    for j in range(0,i*i):
        print("*",end="")
    print()

1
*
2
****
3
*********
4
****************
5
*************************
6
************************************
7
*************************************************
8
****************************************************************

In [123]:
mylist=[10,20,30]
newlist=[]
for val in mylist:
    print(val**2)

100
400
900

In [124]:
for val in mylist:
    newlist.append(val**2)
newlist

[100, 400, 900]

In [125]:
[val**2 for val in mylist]

[100, 400, 900]

In [126]:
newlist=[val**2 for val in mylist]
newlist

[100, 400, 900]

In [127]:
invitation1={"aman","raj","shyam"}
invitation2={"happy","king","aman"}

In [128]:
for x in invitation1:
    print(x)

shyam
raj
aman

In [129]:
setA={x for x in invitation1}
setA

{'aman', 'raj', 'shyam'}

In [131]:
setA={x for x in invitation1.union(invitation2)}
setA

{'aman', 'happy', 'king', 'raj', 'shyam'}

In [135]:
setA={x for x in invitation1.intersection(invitation2)}
setA

{'aman'}

In [141]:
lis1=["aman","raj","shyam"]
lis2=["happy","king","aman"]
lis3=[x for x in lis1 if x in lis2]
print(lis3)

['aman']

In [ ]:
#dictionary compromise