In [6]:
n=1
lis=['sahil','sarthak','hemant','om']
while(0<n):
    n=int(input("1.check, 2.inset, 3.delete, 4.show, 0 EXIT = "))
    if(n==1):
        name=input("enter your name = ")
        if name in lis:
            print("yes your name is present in the list")
        else:
            print("no your name is not present in the list")
    elif(n==2):
        name=input("enter your name to insetinng in the list = ")
        lis.append(name)
    elif(n==3):
        name=input("enter your name to delete = ")
        lis.remove(name)
    elif(n==4):
        print(lis)
    elif(n==0):
        print("exit")
    else:
        print("invalid input")

1.check, 2.inset, 3.delete, 4.show, 0 EXIT = 0
exit

In [5]:
age=[50,10,30,40,101,150]
for i in range(len(age)):
    if age[i]>=50:
        age[i]='Pass'
    else:
        age[i]='Fail'
age

['Pass', 'Fail', 'Fail', 'Fail', 'Pass', 'Pass']

In [ ]:
#second largest number
n=list(map(int,input("enter many um with spaces = ").split()))
for i in n-1:
    if i>i+1:

In [ ]:
a=50
b=90
c=70
d=100
if a>b and a>c and a>d :
    print(a)
elif b>a and b>c and b>d :
    print(b)
elif c>a and c>b and c>d :
    print(c)
elif d>a and d>b and d>a :
    print(d)

In [22]:
a=int(input("Enter value of 1st = "))
b=int(input("Enter value of 2nd = "))
c=int(input("Enter value of 3rd = "))
d=int(input("Enter value of 4th = "))

if a>=b:
    if a>=c:
        if a>=d:
            largest=a
        else:
            largest=d
            largest2=a
    else:
        if c>=d:
            largest=c
        else:
            largest=d
            largest2=c
else:
    if b>=c:
        if b>=d:
            largest=b
        else:
            largest=d
            largest2=b
    else:
        if c>=d:
            largest=c
        else:
            largest=d
            largest2=c
print("\nthe largest number is =",largest)
print("\nthe largest number is =",largest2)

Enter value of 1st = 5245230
Enter value of 2nd = 54324
Enter value of 3rd = 4634
Enter value of 4th = 23845

the largest number is = 5245230

the largest number is = 3

In [1]:
n=int(input("enter a number = "))
prime=[]

for i in range(2,n):
    count=0
    for j in range(2,i):
        if(i%j==0):
            count+=1
    if(count==0):
        prime.append(i)
prime

enter a number = 100

[2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97]

In [2]:
n=int(input("enter a number = "))
prime = []


for i in range(2,n):
    count=0
    for j in range(2,i):
        if(i%j==0):
            count = 1
            
    if count!=1:
        prime.append(i)
        

prime

enter a number = 100

[2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97]